<h3>Página Inicial</h3>

<p>Bem-vindo à página inicial de <%= @owner.name %>.</p>
<p>Eu nasci em <%= @owner.birthdate.day %>.<%= @owner.birthdate.month %>.<%= @owner.birthdate.year %>.</p>
<p>Faltam apenas <%= @owner.countdown %> dias para meu aniversário!</p>
